.zocial, a.zocial {
  margin: 1.5em 0px;
}

.below_topbar {
  margin-top: 0px;
}

.right_text {
  padding: 5px 10px 7px;
  margin: 15px 0 0 0;
}

.below_loginbar {
  margin-top: 100px;
}

#login_topbar,
#login_topbar_inner {
  height: 82px;
}

#login_row {
  padding-top: 10px;
  color: white;
}

#login_box {
  padding-top: 0px;
  font-size: 11px;
}

#login_form {
  float: right;
}

#login_form .input_box {
  padding: 0px 5px;
}

#login_form .submit_box {
  padding: 0px 5px;
}

#login_form .submit_box .btn {
  margin: 5px;
  white-space: nowrap;
  font-size: 12px;
}

#login_form .input_box input {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 5px;
}

#login_form a#forgot_passwd {
  color: rgb(152, 169, 202);
  text-decoration: none;
  cursor: pointer;
}

#login_form a#forgot_passwd:hover {
  color: white;
  text-decoration: none;
}

.topbar .big_brand {
  font-size: 40px;
}

.topbar {
  /*position : fixed;*/
  z-index: 1;
}

.below_topbar > div {
  padding-top: 5px;
}

@media (min-width: 940px) {
  .topbar {
    position: fixed;
  }

  .below_topbar {
    margin-top: 40px;
  }
}

.topbar div > ul.nav.links li.topbar_profile a, .nav.links li.topbar_profile a {
  padding: 0px 0px 0px 0px;
  margin: 5px 0 0 0px;
}

.topbar div > ul.nav.links li.topbar_profile a .profile_name, .nav.links li.topbar_profile a .profile_name {
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 0px 0px;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

.topbar .profile_dp {
  height: 23px;
  width: 23px;
  margin: 3px 5px 3px 3px;
}
