{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="social, auth, django">
  <meta name="description" content="Yakup Adaklı Social Auth Example">
  <meta name="author" content="Yakup Adaklı">

  <title>Social Auth Example</title>

  <!-- Include stylesheets here -->
  <link href="{% static 'css/social-bootstrap.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/style1.css' %}" rel="stylesheet" media="screen">

  <link href="{% static 'css/icons-color.css' %}" rel="stylesheet" media="screen">

  <link href="{% static 'css/zocial.css' %}" rel="stylesheet" media="screen">

  <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">

</head>

<body>
<div class='topbar' id='login_topbar'>
  <div class='topbar-inner' id='login_topbar_inner'>
    {% if user and user.is_anonymous %}
      {% include 'header.html' %}
    {% endif %}
  </div>
</div>

<div class="container-fluid below_topbar">
  <div class='row-fluid below_loginbar'>
    <div class='span5 offset1'>
      <img src="{% static 'img/logo.png' %}" style="width : 600px; height : auto;"/>
    </div>
    <div class='span5 offset'>
      <div class='row-fluid'>
        <div class='span8 offset2'>
          <p>
            {% if user and not user.is_anonymous %}
              <h3 class="center">
                {% trans 'Hello ! ' %} {{ user.get_full_name|default:user.username }}
              </h3>  <br/><br/>
              <div class="center muted">
                <a href="{% url 'auth:logout' %}?next={{ request.path }}">
                  {% trans 'Logout' %}
                </a>
              </div>
            {% else %}
              <h3 class="center"> {% trans 'Hello ! Use these to login easily' %}</h3>  <br/><br/>
              <div class="center muted"> {% trans 'You need to associate these account first ...' %}</div>
              <br/>
              <a class='zocial facebook full_width' href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                {% trans 'Sign in with Facebook' %}
              </a>
              <br/>
              <a class='zocial twitter full_width' href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                {% trans 'Sign in with Twitter' %}
              </a>
              <br/>
              <a class='zocial google full_width' href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                {% trans 'Sign in with Google' %}
              </a>
              <br/>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
